<div class="container">

<img class="logo" width="503px" height="88px" src="/images/header.png" />

<ul class="tabs">
  <li class="selected">Top Hacks</li>
  <li>Presentation Queue</li>
  <li>Leaderboard</li>
  <li class="right"><span class="badge add_hack">+</span></li>
</ul>

{{outlet}}

<script>
$(".add_hack").click(function () {
  $('.new.hack').toggle();
});
</script>

</div>