@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html {
  font-family: "Helvetica Neue";
  font-size: 13px;
}

html, body {
    margin: 30px;
    background-color: #fcd116;
}

.hack {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;

  h1 {
    margin: 0;
    padding: 0;
    line-height: 190%;
    font-size: 1.2rem;
  }

  p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mugshot {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    margin-top: 5px;
  }
  .count {
    font-size: 2rem;
    color: #ffffff;
    background-color: #33353a;
    text-align: center;
    margin: -10px -10px -10px -10px;
    float: right;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.hack.new {
  padding-top: 14px;
  background-color: $grayLighter;
}

.logo {
  padding-bottom: 20px;
  margin-left: -2.0em;
}

.tabs {
  margin-left: 0em;
  border-bottom: #8b8b8b solid 1px;
  padding-bottom: 1.0em;
}

.tabs li {
  display: inline-block;
  margin: 0 3.0em 0 0;
  font-size: 20px;
  color: #3b3b3b;  
}

.tabs li.selected {
  font-weight: bold;
}

.tabs li.right {
  float: right;
  margin: 0 0em 0 3.0em;
}