{{#each controller}}
  <section class="hack row">
    <img class="span1 mugshot" src="https://mug0.assets-yammer.com/mugshot/images/48x48/B27zKqkcRvqCkZKTz1Ssldm3SNsZXS7S" />
    <div class="span10" style="width: 80%">
      <h1>{{title}}</h1>
      <p>{{description}}</p>
    </div>
    <div class="span1 count">
    123
    </div>
  </section>
{{/each}}
<section class="new hack row">
{{partial "hacks/new"}}
</section>